<div class="ui container dark segment sale-card">
  <section class="title" (click)="toogleBookings()">
    <h2 class="ui floated blue header">{{sale.name}}</h2>
    <div class="ui tag labels">
      <div class="ui blue label">
        {{sale.currency}} {{sale.totalPrice}}
      </div>
    </div>
  </section>
  <section *ngIf="clicked">
    <div class="ui clearing divider"></div>
    <app-bookings-table
      [bookings]="sale.bookings"
      [currency]="sale.currency">
    </app-bookings-table>
  </section>
</div>