<section class="filters-section">
    <app-sale-filters
      [model]="salesRequest"
      (modelChanged)="onModelChanged($event)"
    >
    </app-sale-filters>
</section>
<section class="sale-card" *ngFor="let sale of sales">
  <app-sale-card [sale]="sale">
  </app-sale-card>
</section>

