<div class="ui four column doubling stackable grid container">
  <div class="column">
    <div class="ui left action input">
      <button class="ui blue labeled icon button">
        <i class="calendar icon"></i>
        From
      </button>
      <input
        type="date"
        [value]="model.initialDate"
        (change)="onChangeModel($event, 'initialDate')"
      />
    </div>
  </div>
  <div class="column">
    <div class="ui left action input">
      <button class="ui blue labeled icon button">
        <i class="calendar icon"></i>
        To
      </button>
      <input
        type="date"
        [value]="model.endDate"
        (change)="onChangeModel($event, 'endDate')"
      />
    </div>
  </div>
  <div class="six wide column">
    <div class="ui input search-input">
      <input
        type="text"
        placeholder="Type here the Ship Name"
        [value]="model.search"
        (change)="onChangeModel($event, 'search')"
      />
    </div>
  </div>
  <div class="two wide column">
    <button class="ui blue button search-button" (click)="onSearchClick()">Search</button>
  </div>
</div>