<table class="ui inverted blue table">
  <thead>
    <tr><th>Booking Id</th>
    <th>Ship Name</th>
    <th>Price</th>
  </tr></thead><tbody>
    <tr *ngFor="let booking of bookings">
      <td>{{booking.id}}</td>
      <td>{{booking.ship.name}}</td>
      <td>{{currency}} {{booking.price}}</td>
    </tr>
  </tbody>
</table>